<perfect-scrollbar [config]="config">
  <mat-list>
    <div class="opcoes mat-elevation-z6">
      <mat-list dense role="list">
        <mat-list-item role="listitem">
          <mat-checkbox #checkAll (change)="selecionarTodos($event)" style="padding-right: 20px;" color="primary">
          </mat-checkbox>
          <button color="accent" mat-icon-button [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>

          <mat-menu yPosition="below" xPosition="after" #menu="matMenu">
            <button (click)="selecionarTodos({checked: true})" mat-menu-item>
              <span>Marcar Todas</span>
            </button>
            <button (click)="limparSelecao()" mat-menu-item>
              <span>Nenhuma</span>
            </button>
            <button (click)="selecionarLidas()" mat-menu-item>
              <span>Lidas</span>
            </button>
            <button (click)="selecionarNaoLidas()" mat-menu-item>
              <span>Não lidas</span>
            </button>
          </mat-menu>

          <button matTooltipPosition="below" matTooltip="Arquivar" color="accent" mat-icon-button
            aria-label="Example icon-button with a menu">
            <mat-icon>archive</mat-icon>
          </button>

          <button matTooltipPosition="below" matTooltip="Excluir" color="accent" mat-icon-button
            aria-label="Example icon-button with a menu">
            <mat-icon>delete</mat-icon>
          </button>

          <button matTooltipPosition="below" matTooltip="Marcadores" color="accent" mat-icon-button
            aria-label="Example icon-button with a menu" [matMenuTriggerFor]="marcadoresMenu">
            <mat-icon>label_important</mat-icon>
          </button>

          <button matTooltipPosition="below" matTooltip="Marcadores" color="accent" mat-icon-button
            aria-label="Example icon-button with a menu">
            <mat-icon>search</mat-icon>
          </button>

          <span class="example-spacer"></span>

          <mat-menu yPosition="below" xPosition="after" #marcadoresMenu="matMenu">
            <mat-list>
              <mat-list-item>
                <mat-checkbox class="check" color="primary">Importante</mat-checkbox>
              </mat-list-item>
              <mat-list-item>
                <mat-checkbox class="check" color="primary">Prioridade</mat-checkbox>
                <mat-list-item>
                  <mat-checkbox class="check" color="primary">Importante</mat-checkbox>
                </mat-list-item>
              </mat-list-item>
            </mat-list>
          </mat-menu>


        </mat-list-item>
      </mat-list>

    </div>
    <div class="lista-mensagens">
      <pmmg-mensagem-item (selecionarEvent)="selecionarItem($event)" *ngFor="let mensagem of mensagens"
        [mensagem]="mensagem">
      </pmmg-mensagem-item>
    </div>
  </mat-list>
</perfect-scrollbar>
