.opcoes{
    position: fixed;
    top: 64px;
    z-index: 1000;
    background-color: white;
    width: 100%;
}

.lista-mensagens{
    position: relative;
    top: 40px;
}

.mat-button.mat-accent, .mat-icon-button.mat-accent, .mat-stroked-button.mat-accent {
    color: #a0a0a0;
}