<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar toolbar mat-elevation-z6">
    <button style="margin-right: 10px;width: 25px;/* padding-right: 22px;" mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">{{title}}</h1>

    <span class="example-spacer"></span>
    <mat-icon matTooltip="Adicionar Favorito" class="example-icon">favorite</mat-icon>
    <mat-icon matTooltip="Excluir Item" class="example-icon">more_vert</mat-icon>
  </mat-toolbar>

  <mat-sidenav-container autosize=true class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 50 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="50" [opened]="opened">
      <mat-nav-list>
        <a (click)="selecionarItemMenu(nav)" routerLink="{{nav?.componente}}" matTooltip="{{nav?.label}}"
          matTooltipClass="tooltip-red" matTooltipPosition="below" [class.selecionado]="nav === itemSelecionado"
          mat-list-item *ngFor="let nav of fillerNav">
          <img *ngIf="itemSelecionado === nav" class="item-menu" width="{{nav?.iconSize}}" height="{{nav?.iconSize}}" src="{{nav?.iconOn}}" alt="">
          <img *ngIf="itemSelecionado !== nav" class="item-menu" width="{{nav?.iconSize}}" height="{{nav?.iconSize}}" src="{{nav?.icon}}" alt="">

          <p style="padding-left: 0px; margin-top: 0px;" matBadgeColor="warn" matBadge="{{nav?.count}}"
            matBadgePosition="below after" matBadgeSize="medium">
          </p>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet #o="outlet"></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>