.check{
    padding-right: 10px;
}

.icon-display {
    transform: scale(0.8);
 }

 .mat-button.mat-accent, .mat-icon-button.mat-accent, .mat-stroked-button.mat-accent {
    color: #a0a0a0;
}

.assunto {
    white-space: nowrap; 
    margin-left: 30px; 
    font-size: 14px;
    max-width: 1600px; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.assuntoWrap {
    white-space: nowrap; 
    margin-left: 30px; 
    font-size: 14px;
    max-width: 1400px; 
    overflow: hidden;
    text-overflow: ellipsis; 
}