<mat-list-item (mouseenter)="mostrarDetalhes()" (mouseleave)="ocultarDetalhes()" pmmgHoverItem pmmgElevation>
  <mat-checkbox class="check" color="primary"></mat-checkbox>
  <mat-list-item>
    <mat-icon mat-list-icon class="icon-display" svgIcon="pasta">folder</mat-icon>
    <div style="width: 200x; float: left;"> {{nome}} </div>
    <div style="" [ngClass]="{assuntoWrap: isMostrarDetalhes, assunto: !isMostrarDetalhes}" > {{assunto}} </div>
  </mat-list-item>
  <span class="example-spacer"></span>
  <p *ngIf="!isMostrarDetalhes">{{horario}}</p>
  <div *ngIf="isMostrarDetalhes">
    <button matTooltipPosition="below" matTooltip="Arquivar" color="accent" mat-icon-button
      aria-label="Example icon-button with a menu">
      <mat-icon>archive</mat-icon>
    </button>

    <button matTooltipPosition="below" matTooltip="Excluir" color="accent" mat-icon-button
      aria-label="Example icon-button with a menu">
      <mat-icon>delete</mat-icon>
    </button>

    <button matTooltipPosition="below" matTooltip="Adiar" color="accent" mat-icon-button
      aria-label="Example icon-button with a menu">
      <mat-icon>label_important</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
</mat-list-item>