@import '~@angular/material/theming';


$mat-pmmg-blue: (
  50: #85b6e0,
  100: #70a9db,
  200: #5c9dd6,
  300: #4791d1,
  400: #3385cc,
  500: #2e77b8,
  600: #296aa3,
  700: #28689f,
  800: #245d8f,
  900: #1f507a,
  A100: #ff8a80,
  A200: #ff5252,
  A400: #ff1744,
  A700: #d50000,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);

@include mat-core();
$custom-theme-primary: mat-palette($mat-pmmg-blue, 700);
$custom-theme-accent:mat-palette($mat-pmmg-blue, 400, 600);
$custom-theme-warn: mat-palette($mat-red, 900);
$custom-theme-gray: mat-palette($mat-pmmg-blue, 100);
$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);
@include angular-material-theme($custom-theme);