<div class="content">
  <mat-tab-group mat-align-tabs="center">

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon style="margin-right:10px" matBadge="23" matBadgeColor="warn" class="example-tab-icon" svgIcon="in"></mat-icon>
        Entrada
      </ng-template>
      Content 2
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon style="margin-right:10px" matBadge="10" matBadgeColor="warn" class="example-tab-icon" svgIcon="out"></mat-icon>
        Saída
      </ng-template>
      <div class="content">
        Content 3
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon style="margin-right:10px" matBadge="7" matBadgeColor="warn" class="example-tab-icon" svgIcon="pasta"></mat-icon>
        Arquivo
      </ng-template>

      Content 3
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon style="margin-right:10px" class="example-tab-icon" svgIcon="pasta"></mat-icon>
        Rascunho
      </ng-template>

      Content 3
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon style="margin-right:10px" matBadge="90" matBadgeColor="warn" class="example-tab-icon" svgIcon="lixeira"></mat-icon>
        Lixeira
      </ng-template>

      Content 3
    </mat-tab>
  </mat-tab-group>
</div>
